{% extends "base.html" %}

{% block content %}
<div class="cards-container">

    <div class="card">
        <img src="https://i.postimg.cc/5052T4sL/acessorio-2.webp" alt="Violão 2">
        <h3>Capotraste de aluminium</h3>     
        <p>Fornece um som mais sofisticado ao seu instrumento.</p>
        <h2 class="precoViolao">R$ 40,25</h2>
        <button class="buttonViolao"><a class="aViolao" style="text-decoration: none;" href="{{ url_for('acessorio_modelo', modelo='capotraste') }}">Comprar</a></button>
    </div>


    <div class="card">
        <img src="https://i.postimg.cc/Ls1XkBfT/acessorio-4.webp" alt="Violão 4">
        <h3>Palheta de guitarra JAZZ III 1mm</h3>
        <p>Vendida em unidade.</p>
        <h2 class="precoViolao">R$ 18,90</h2>
        <button class="buttonViolao"><a class="aViolao" style="text-decoration: none;" href="{{ url_for('acessorio_modelo', modelo='palhetaguitarra') }}">Comprar</a></button>
    </div>

    <div class="card">
        <img src="https://i.postimg.cc/YqdhtSM6/acessorio-5.webp" alt="Violão 5">
        <h3>Palhetas fender mm personalizado</h3>
        <p>Vendida em unidade.</p>
        <h2 class="precoViolao">R$ 12,65</h2>
        <button class="buttonViolao"><a class="aViolao" style="text-decoration: none;" href="{{ url_for('acessorio_modelo', modelo='palhetafender') }}">Comprar</a></button>
    </div>

    <div class="card">
        <img src="https://i.postimg.cc/QtYyX54b/acessorio-6.webp" alt="Violão 4">
        <h3>Case de guitarra almofadada</h3>
        <p>Muito estética e protege com excelência</p>
        <h2 class="precoViolao">R$  3.999,90</h2>
        <button class="buttonViolao"><a class="aViolao" style="text-decoration: none;" href="{{ url_for('acessorio_modelo', modelo='caseguitarra') }}">Comprar</a></button>
    </div>

    <div class="card">
        <img src="https://i.postimg.cc/9MgnWT8Z/acessorio-7.webp" alt="Violão 5">
        <h3>Case de violão almodada</h3>
        <p>Muito estética e protege com excelência</p>
        <h2 class="precoViolao">R$ 2.999,90</h2>
        <button class="buttonViolao"><a class="aViolao" style="text-decoration: none;" href="{{ url_for('acessorio_modelo', modelo='casevioalo') }}">Comprar</a></button>
    </div>
</div>
{% endblock %}