{% extends "base.html" %}
{% block content %}
<!-- Java Script-->
<script>
  function changeImage(element) {
    // trocar imagem principal
    document.getElementById("mainImg").src = element.src;

    // destacar miniatura ativa
    document.querySelectorAll(".thumb").forEach(img => img.classList.remove("active"));
    element.classList.add("active");
  }
</script>

<div class="gallery" style="justify-content: center; height: 600px;">

  <div class="thumbnails">
    <img src="https://i.postimg.cc/YC42PzWQ/Baixo-Yamaha-Bb.webp" class="thumb active" onclick="changeImage(this)">
    <img src="https://i.postimg.cc/YC42PzW3/Baixo-Yamaha-Bb-2.webp" class="thumb" onclick="changeImage(this)">
    <img src="https://i.postimg.cc/T3Z2v5Vm/Baixo-Yamaha-Bb-3.webp" class="thumb" onclick="changeImage(this)">
    <img src="https://i.postimg.cc/fR6WQScf/Baixo-Yamaha-Bb-4.webp" class="thumb" onclick="changeImage(this)">
    <img src="https://i.postimg.cc/kgkMPRQj/Baixo-Yamaha-Bb-5.webp" class="thumb" onclick="changeImage(this)">
  </div>

  <div class="main-image">
    <img id="mainImg" src="https://i.postimg.cc/YC42PzWQ/Baixo-Yamaha-Bb.webp">
  </div>

  <div class="product-info">
    <h1 class="product-title">Contra Baixo Yamaha Bb 435 Bl Bb435</h1>

    <div class="ratings">
      <div class="review-summary">
        ★★★★★ <span id="avgRating">0.0</span>
        (<span id="totalReviews">0</span> avaliações)
      </div>
    </div>

    <div class="price-block">
      <span class="price-current">R$ 5.600,00</span>
      <span class="price-installments">Em até 10x sem juros</span>

      <a class="btn-whatsapp" target="_blank"
        href="https://wa.me/55999999999?text=Olá!%20Tenho%20interesse%20no%20Violão%20Takamine%20FT340%20BS.">
        Comprar pelo WhatsApp
      </a>
      <button class="btn-cart" onclick="addToCart()">
        Adicionar ao Carrinho
      </button>
    </div>
  </div>
</div>

<div class="txt">
  <h1 style="display: flex; justify-content: center; margin-top: 30px;" class="detalhes">Descrição</h1>
  <h2>Contra Baixo Yamaha Bb 435 Bl Bb435</h2>

  <p style="margin-left: 500px; margin-right: 500px;">A linha 400 continua a tradição do BB de grande qualidade de
    estrutura e timbre emblemático que ganhou aclamação da série ao longo dos seus 40 anos de história. Quer você
    prefira uma escala de rosewood ou o som distintamente brilhante e nítido do maple, a sensação de precisão e a
    resposta da junta do braço de 6 parafusos, juntamente com a presença e a clareza de captadores personalizados, vão
    inspirá-lo a tocar o seu melhor quando realmente importa.</p>

  <h1 class="especificacoes">Especificações técnicas:</h1>

  <ul>
    <li>Modelo: Yamaha</li>
    <li>Categoria: baixos</li>
    <li>Cor: Preto com escudo branco</li>
    <li>Construção: Bolt-on (Junta do braço de 6 parafusos)</li>
    <li>Escala: Rosewood</li>
    <li>Captação: YGD custom V5 (Alnico V)</li>
  </ul>
  <div class="img-descricao">
    <img style="width: 500px; height: 500px; margin-bottom: 20px;" src="https://i.postimg.cc/YC42PzWQ/Baixo-Yamaha-Bb.webp">
    <img style="width: 500px; height: 500px; margin-bottom: 20px;" src="https://i.postimg.cc/YC42PzW3/Baixo-Yamaha-Bb-2.webp">
    <img style="width: 500px; height: 500px; margin-bottom: 20px;" src="https://i.postimg.cc/T3Z2v5Vm/Baixo-Yamaha-Bb-3.webp">
    <img style="width: 500px; height: 500px; margin-bottom: 20px;" src="https://i.postimg.cc/fR6WQScf/Baixo-Yamaha-Bb-4.webp">
  </div>
</div>

<br>

<div class="review-section" data-page-id="yamahabb">
  <h2>Avaliações de clientes</h2>

  <div class="review-summary">
    ⭐ <span id="topAvgRating">0.0</span>
    (<span id="topTotalReviews">0</span> avaliações)
  </div>

  <div class="review-form">
    <div id="starContainer" class="star-rating" aria-label="Escolha a nota">
      <span data-value="1">★</span>
      <span data-value="2">★</span>
      <span data-value="3">★</span>
      <span data-value="4">★</span>
      <span data-value="5">★</span>
    </div>

    <textarea style="margin-top: 20px; margin-bottom: 10px;" id="reviewText"
      placeholder="Seu comentário..."></textarea><br>
    <button class="btn-review" id="submitReview">Enviar Avaliação</button>

  </div>

  <div style="align-items: end;" class="comentarios">
    <h3>Comentários</h3>
    <div id="reviewsList" aria-live="polite"></div>
  </div>

</div>

<script src="/static/avaliacao.js"></script>


<!-- SCRIPT DO CARRINHO -->
<script>
  function addToCart() {
    const product = {
      id: "violao-cort-earth-100ssf-sb",
      name: "Violão Aço Folk Cort Earth 100SSF Sb Sunburst",
      price: 3239.10,
      image: "https://i.postimg.cc/T3pTP3VW/violao3-Photoroom.png",
      qty: 1
    };

    let cart = JSON.parse(localStorage.getItem("cart")) || [];

    let existing = cart.find(item => item.id === product.id);

    if (existing) {
      existing.qty += 1;
    } else {
      cart.push(product);
    }

    localStorage.setItem("cart", JSON.stringify(cart));

    alert("Produto adicionado ao carrinho!");
  }
</script>
{% endblock %}