{% extends "admin.html" %}

{% block content %}
<body>
    <section class="welcome">
        <!-- HERO SECTION -->
        <section class="hero">
            <div>
                <h1>Bem-vindo à Cifra Music 🎸</h1>
                <p>Instrumentos, qualidade e alma musical — tudo em um só lugar.</p>
                <button class="btn-hero"><a style="text-decoration: none;" href="/violoes">Explore Agora </a></button>
            </div>
        </section>
        <br>
        <section id="sobre" style="padding:60px 20px; text-align:center; max-width:900px; margin:auto;">
            <h2 style="font-size:2rem; margin-bottom:20px; font-weight:700;">Sobre Nós</h2><br>
            <p style="font-size:1.1rem; line-height:1.7; color:#333;">
                Na <strong>Cifra Music</strong> cada detalhe aqui foi
                pensado para inspirar você a transformar sua paixão em som.
                Trabalhamos com violões, guitarras, acessórios e muito mais — sempre priorizando qualidade,
                confiança e preço justo.
            </p>
            <p style="font-size:1.1rem; line-height:1.7; margin-top:15px; color:#444;">
                Nossa missão é ajudar você a encontrar o instrumento ideal, seja para começar sua jornada musical ou
                evoluir ainda mais suas habilidades.
                Aqui, cada detalhe foi pensado para oferecer a melhor experiência possível.
            </p>
        </section>
</body>

{% endblock %}
