{% extends "admin.html" %}

{% block content %}
            <h2>Logs do Sistema</h2>

            <table border="1">
                <tr>
                    <th>Data/Hora</th>
                    <th>Usuário</th>
                    <th>Ação</th>
                    <th>IP</th>
                </tr>
        
                {% for log in logs %}
                <tr>
                    <td>{{ log.data_hora }}</td>
                    <td>{{ log.usuario }}</td>
                    <td>{{ log.acao }}</td>
                    <td>{{ log.ip }}</td>
                </tr>
                {% endfor %}
            </table>    

{% endblock %}

