<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cifra Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="https://i.postimg.cc/j2PNnr8k/Design-sem-nome-(2).png">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <a href="/admin">
                    <img src="https://i.postimg.cc/pVfM6gcQ/Gemini-Generated-Image-vsmi2bvsmi2bvsmi-removebg-preview.png"
                        style="width: 230px; height: 75px;" alt="LOGO" class="logo-header">
                </a>
            </div>

            <ul class="menu">
                <li class="submenu-parent">
                    <a style="text-decoration: none;" href="#">Listar ▾</a>
                    <ul class="submenu">
                        <a style="text-decoration: none;"
                            href="{{ url_for('admin_modelo', modelo='listusuario') }}">Lista Usuarios</a>
                </li>

                <a style="text-decoration: none;" href="{{ url_for('admin_modelo', modelo='logs') }}">Resgitro de
                    compras</a></li>

                <a style="text-decoration: none;" href="{{ url_for('admin_modelo', modelo='usuario_admin') }}">Criar
                    Usuario admin</a></li>
            </ul>
            </li>


            <li><a style="text-decoration: none;" href="{{ url_for('logout') }}">Sair</a></li>

            </ul>

        </nav>
    </header>
    <div>


        <nav>
            <div class="categoria">
                <nav>
                    <tr>
                        <td> <img src="https://i.postimg.cc/XJvNydGb/violao.png" alt="violoes"
                                style="align-items: center; width: 45px;"></td>
                        <td> <a style="text-decoration: none;" href="/logs">Violões </a></td>

                        <!-- <td>  <img src="https://i.postimg.cc/265v8qCW/guitarra.png" alt="Guitarras" style="align-items: center; width: 45px;"></td>
            <td>   <a style="text-decoration: none;" href="/guitarras">Guitarras</a></td>

            <td> <img src="https://i.postimg.cc/8CzmXkjq/instrumento-musical.png" style="align-items: center; width: 45px;" alt="Acessórios" >
            </td>  <a style="text-decoration: none;" href="/acessorios">Acessórios </a> -->
                    </tr>
                    <tr>
                    </tr>

                </nav>

            </div>
        </nav>
    </div>

    <main class="container">
        {% block content %}
        <h2>Total<span id="cartTotal">0.00</span></h2>
        {% endblock %}
    </main>


    <footer>
        <p style="text-align: center;">Desenvovido Por Os Python</p>
    </footer>
</body>

</html>