{% extends "base.html" %}

{% block content %}

<main class="main">



    <div class="cart-container">
        <div id="cartItems" class="total"></div>



        <div class="buttons-car">
            <button class="btn-clear" onclick="clearCart()">Limpar Carrinho</button>
            <a id="btn-whatsapp" target="_blank" class="btn-success"
                href="https://wa.me/5599999999999?text=${encodeURIComponent(message)}">
                Comprar
                <img src="https://i.postimg.cc/PJFtpp7d/icon-whats.png" width="20px" style="align-items: center;">
            </a>
        </div>
    </div>

    <div class="resumo-car">
        <h2 class="h2-car">Resumo da Compra</h2>



        <!--<p class="resumo-text">Após clicar em "Comprar", você será redirecionado para o WhatsApp, onde poderá finalizar seu pedido e tirar dúvidas diretamente conosco. Agradecemos pela preferência!</p>
        !-->
        <h2 class="h2-car">Total: <span id="cartTotal">00.000,00</span></h2>
    </div>

</main>

<script>

    function precoBRL(value) {
        return value.toLocaleString('pt-BR', {
            style: 'currency',
            currency: 'BRL'
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        let cart = JSON.parse(localStorage.getItem("cart")) || [];

        let message = "Olá! Tenho interesse nos seguintes produtos:";

        const list = document.getElementById("cartItems");
        const totalSpan = document.getElementById("cartTotal");

        let total = 0;

        cart.forEach(item => {
            total += item.price * item.qty;


            list.innerHTML += `
            <div class="cart-item"> 
                    <img style="border-radius: 5px; width: 80px;" src="${item.image}" >

                <div class="info">
                    <p class="name">${item.name}</p>
                    <span class="qty">Quantidade: ${item.qty}</span>
                </div>

                <div class="price">
                    ${precoBRL(item.price * item.qty)}
                </div>

            </div>
        `;
            //Mensagem do WhatsApp
            message += `${item.name} \n`;
        });

        totalSpan.textContent = precoBRL(total)

        let link = `https://wa.me/5599999999999?text=${encodeURIComponent(message)}`;

        document.getElementById("btn-whatsapp").href = link;
    });


    function clearCart() {
        localStorage.removeItem("cart");
        window.location.reload();
    }
</script>
<!--href="https://chat.whatsapp.com/DF13H0zFc9V9nNTLHIuiAF${item.name} !-->


{% endblock %}