<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="cadastro-body">
    <div class="cadastro-container">


        <section class="form-section">
            <h2>Cadastro de Usuários</h2>
            <!--
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}-->
            <div class="mensagens">
                <!-- {% for categoria, mensagem in messages %}-->
                <div class="flash "> <!-- DENTRO DA CLASS {{ categoria }}-->
                    <!--    {{ mensagem }}-->
                </div>
                <!--     {% endfor %}-->
            </div>
            <!--
            {% endif %}
            {% endwith %}-->
            <form method="POST" action="cadastro_usuario.php" class="form-card">
                <label for="nm_usuario">Seu Nome:</label>
                <input type="text" id="nm_usuario" name="nm_usuario" required>

                <label for="nm_login">Usuário:</label>
                <input type="text" id="nm_login" name="nm_login" required>

                <label for="ds_senha">Senha:</label>
                <input type="password" id="ds_senha" name="ds_senha" required>

                <button type="submit" class="btnsalvar">Salvar</button>

            </form>
        </section>
        <p>Já tem uma conta? <a class="login-link" href="../templates/index.php">Faça login</a></p>
    </div>


</body>

</html>