{% extends "base.html" %}
{% block content %}
<script>
  function changeImage(element) {
    // trocar imagem principal
    document.getElementById("mainImg").src = element.src;

    // destacar miniatura ativa
    document.querySelectorAll(".thumb").forEach(img => img.classList.remove("active"));
    element.classList.add("active");
  }
</script>

<div class="gallery" style="justify-content: center; height: 600px;">


  <div class="main-image">
    <img id="mainImg" src="https://i.postimg.cc/Ls1XkBfT/acessorio-4.webp">
  </div>

  <div class="product-info">
    <h1 class="product-title">Palheta de guitarra JAZZ III 1mm</h1>

    <div class="ratings">
      <div class="review-summary">
        ★★★★★ <span id="avgRating">0.0</span>
        (<span id="totalReviews">0</span> avaliações)
      </div>
    </div>

    <div class="price-block">
      <span class="price-current">R$ 18,90</span>
      <span class="price-installments">Em até 10x sem juros</span>

      <a class="btn-whatsapp" target="_blank"
        href="https://wa.me/5599999999999?text=Olá!%20Tenho%20interesse%20no%20Violão%20Takamine%20FT340%20BS.">
        Comprar pelo WhatsApp
      </a>
      <button class="btn-cart" onclick="addToCart()">
        Adicionar ao Carrinho
      </button>
    </div>
  </div>
</div>

<div class="txt">
  <h1 style="display: flex; justify-content: center; margin-top: 30px;" class="detalhes"><br>Descrição</h1>
  <h2>Palheta de guitarra JASS III 1mm</h2>

  <p style="margin-left: 500px; margin-right: 500px;">Palhetas de alta qualidade, ideais para guitarristas que buscam
    precisão e conforto na hora de tocar. Com espessura de 1mm, oferecem um equilíbrio perfeito entre flexibilidade e
    controle, permitindo uma performance versátil em diversos estilos musicais. Fabricadas com materiais duráveis, essas
    palhetas garantem longevidade e resistência ao desgaste, proporcionando uma experiência de uso consistente. Seu
    design ergonômico facilita a pegada, reduzindo a fadiga durante longas sessões de prática ou apresentações ao vivo.
    Seja para iniciantes ou músicos experientes, as palhetas JASS III 1mm são uma escolha confiável para aprimorar sua
    técnica e expressividade musical. Vendida em unidade.</p>

  <h1 class="especificacoes">Especificações técnicas:</h1>

  <ul>
    <li>Modelo: JASS</li>
    <li>Categoria: acessorios</li>
    <li>Cor: Preto ou Vermelho</li>
  </ul>

  <h2>Fotos do Produto</h2>

  <div class="img-descricao">
    <img style="width: 500px; height: 500px; margin-bottom: 20px;" src="https://i.postimg.cc/Ls1XkBfT/acessorio-4.webp">
  </div>
</div>


<br>

<div class="review-section" data-page-id="palhetaguitarra">
  <h2>Avaliações de clientes</h2>

  <div class="review-summary">
    ⭐ <span id="topAvgRating">0.0</span>
    (<span id="topTotalReviews">0</span> avaliações)
  </div>

  <div class="review-form">
    <div id="starContainer" class="star-rating" aria-label="Escolha a nota">
      <span data-value="1">★</span>
      <span data-value="2">★</span>
      <span data-value="3">★</span>
      <span data-value="4">★</span>
      <span data-value="5">★</span>
    </div>

    <textarea style="margin-top: 20px; margin-bottom: 10px;" id="reviewText"
      placeholder="Seu comentário..."></textarea><br>
    <button class="btn-review" id="submitReview">Enviar Avaliação</button>

  </div>

  <div style="align-items: end;" class="comentarios">
    <h3>Comentários</h3>
    <div id="reviewsList" aria-live="polite"></div>
  </div>

</div>

<script src="/static/avaliacao.js"></script>

<!-- SCRIPT DO CARRINHO -->
<script>
  function addToCart() {
    const product = {
      id: "palhetaguitarra",
      name: "Palheta de guitarra JAZZ III 1mm",
      price: 18.90,
      image: "https://i.postimg.cc/Ls1XkBfT/acessorio-4.webp ",
      qty: 1
    };

    let cart = JSON.parse(localStorage.getItem("cart")) || [];

    let existing = cart.find(item => item.id === product.id);

    if (existing) {
      existing.qty += 1;
    } else {
      cart.push(product);
    }

    localStorage.setItem("cart", JSON.stringify(cart));

    alert("Produto adicionado ao carrinho!");
  }
</script>
{% endblock %}